.Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 250px;
  background-image: linear-gradient(
    30deg,
    #404040,
    #606060,
    #808080,
    #a0a0a0,
    #808080,
    #606060,
    #404040
  );
}

.ERecht {
  align-self: flex-end;
}
