.Container {
  display: flex;
  box-sizing: border-box;
  background-image: url("assets/images/backgrounds/wave-81840.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 70px;
  padding-bottom: 250px;
}
